proxy: |
  location /music/ {
    proxy_pass http://localhost:4533;
  }

firewall:
  - port: 4533
    scope: lan

tasks:
  - name: Ensure navidrome music library exists, and gb_user owns it
    file:
      path: "{{ navidrome_music_path }}"
      state: directory
      owner: "{{ gb_user }}"

  - name: Ensure we have a directory for Navidrome data on the host
    file:
      path: "{{ gb_root }}/volumes/navidrome"
      state: directory

  - name: Copy over Navidrome config
    copy:
      src: navidrome.toml
      dest: "{{ gb_root }}/volumes/navidrome/config.toml"

compose:
  navidrome:
    image: deluan/navidrome:latest
    user: "{{ gb_user_uid }}:{{ gb_user_gid }}"
    ports:
      - "4533:4533"
    environment:
      ND_CONFIGFILE: "/data/config.toml"
    volumes:
      - "./volumes/navidrome:/data"
      - "{{ navidrome_music_path }}:/music:ro"
    restart: always

fail2ban:
  filter: |
    [INCLUDES]
    before = common.conf

    [Definition]

    # Sample message: time="2022-08-22T03:48:07Z" level=warning msg="Unsuccessful login"
    # ...X-Real-Ip:[192.168.1.134]]"...requestId=53b6a5547568/P

    failregex = msg="Unsuccessful login".*X-Real-Ip:\[<HOST>\]

  jail: |
    [filebrowser-failed-auth]
    enabled = true
    action = route
    filter = navidrome
