*.{$PORTAL_DOMAIN} {
	# define matcher for all IPs not associated
	# with private address ranges like 192.168.0.0/16
	@public not remote_ip private_ranges {$PORTAL_IP_WHITELIST}

	# use token/email address to integrate with cloudflare for
	# automatic SSL/TLS via letsencrypt
	tls {$CLOUDFLARE_EMAIL} {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
	}

	# containerized jellyfin service
	@media host media.{$PORTAL_DOMAIN}
	handle @media {
		reverse_proxy {$PORTAL_SERVICE_HOST}:8096
	}

	# containerized kavita service
	@comics host comics.{$PORTAL_DOMAIN}
	handle @comics {
		reverse_proxy {$PORTAL_SERVICE_HOST}:5000
	}

	# containerized soulseek service (slskd)
	@soulseek host soulseek.{$PORTAL_DOMAIN}
	handle @soulseek {
		abort @public
		reverse_proxy {$PORTAL_SERVICE_HOST}:5030
	}

	# containerized transmission service
	@torrent host torrent.{$PORTAL_DOMAIN}
	handle @torrent {
		abort @public
		reverse_proxy {$PORTAL_SERVICE_HOST}:9091
	}
}
