version: '3'
name: gb
services:
  filebrowser:
    image: filebrowser/filebrowser:latest
    user: '{{ user_uid.stdout }}:{{ user_gid.stdout }}'
    volumes:
    - '{{ filebrowser_root_path }}:/srv'
    - ./volumes/filebrowser/database.db:/database.db
    - ./volumes/filebrowser/filebrowser.json:/.filebrowser.json
    ports:
    - 8080:8080
    logging:
      driver: journald
    restart: always

  navidrome:
    image: deluan/navidrome:latest
    user: '{{ gb_user_uid }}:{{ gb_user_gid }}'
    ports:
    - 4533:4533
    environment:
      ND_CONFIGFILE: /data/config.toml
    volumes:
    - ./volumes/navidrome:/data
    - '{{ navidrome_music_path }}:/music:ro'
    logging:
      driver: journald
    restart: always

  samba:
    image: dperson/samba
    ports:
    - 139:139
    - 445:445
    volumes:
    - '{{ samba_share_path }}:/samba'
    - ./volumes/samba/smbpasswd:/etc/samba/private/smbpasswd
    environment:
      IMPORT: /etc/samba/private/smbpasswd
      SHARE: '{{ samba_share_config }}'
    restart: unless-stopped

  restic-backup:
    image: mazzolino/restic
    environment:
      RUN_ON_STARTUP: 'true'
      BACKUP_CRON: '{{ restic_backup_schedule }}'
      RESTIC_PASSWORD: ghettobox
      RESTIC_REPOSITORY: /mnt/restic
      RESTIC_BACKUP_SOURCES: /data
      RESTIC_BACKUP_ARGS: --tag docker-volumes --verbose
      RESTIC_FORGET_ARGS: --keep-last {{ restic_keep_last }}
      TZ: '{{ local_timezone }}'
    volumes:
    - '{{ restic_backup_src }}:/data:ro'
    - '{{ restic_backup_path }}:/mnt/restic'

  restic-prune:
    image: mazzolino/restic
    environment:
      RUN_ON_STARTUP: 'true'
      PRUNE_CRON: '{{ restic_prune_schedule }}'
      RESTIC_REPOSITORY: /mnt/restic
      RESTIC_PASSWORD: ghettobox
      TZ: '{{ local_timezone }}'

  watchtower:
    image: containrrr/watchtower
    environment:
      TZ: '{{ local_timezone }}'
    command: '--schedule "{{ watchtower_schedule }}"'
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
