services:
  cf-tunnel:
    image: cloudflare/cloudflared
    restart: unless-stopped
    command: 


  jellyfin:
    image: linuxserver/jellyfin:latest
    ports:
      - 8096:8096
    volumes:
      - ./volumes/jellyfin/config:/config
      - ./share/movies:/movies:ro
      - ./share/tv:/tv:ro
      - ./share/music:/music:ro
    devices:
      - /dev/dri:/dev/dri
    environment:
      PUID: "${GB_USER_UID}"
      PGID: "${GB_USER_GID}"
    restart: unless-stopped

  filebrowser:
    image: filebrowser/filebrowser
    user: "${GB_USER_UID}:${GB_USER_GID}"
    ports:
      - 8080:8080
    volumes:
      - ./share:/srv
      - ./volumes/filebrowser/database.db:/filebrowser.db
      - ./volumes/filebrowser/settings.json:/.filebrowser.json
    restart: unless-stopped

  navidrome:
    image: deluan/navidrome:latest
    user: "${GB_USER_UID}:${GB_USER_GID}"
    ports:
      - 4533:4533
    environment:
      ND_CONFIGFILE: /data/config.toml
    volumes:
      - ./volumes/navidrome:/data
      - ./share/music:/music:ro
    restart: unless-stopped

  vikunja:
    image: vikunja/vikunja:latest
    user: "${GB_USER_UID}:${GB_USER_GID}"
    environment:
      VIKUNJA_SERVICE_JWTSECRET: "${VIKUNJA_SERVICE_JWTSECRET}"
      VIKUNJA_SERVICE_PUBLICURL: "${VIKUNJA_SERVICE_PUBLICURL}"
      VIKUNJA_DATABASE_PATH: /db/vikunja.db
    ports:
      - 3456:3456
    volumes:
      - ./volumes/vikunja/files:/app/vikunja/files
      - ./volumes/vikunja/db:/db
    restart: unless-stopped

  kavita:
    image: jvmilazz0/kavita:latest
    ports:
      - 5000:5000
    volumes:
      - ./share/comics:/comics:ro
      - ./volumes/kavita:/config
    environment:
      TZ: 'America/Denver'
    restart: unless-stopped

  gluetun:
    image: qmcgaw/gluetun:latest
    cap_add:
      - NET_ADMIN
    volumes:
      - ./volumes/gluetun:/gluetun
    environment:
      VPN_SERVICE_PROVIDER: "private internet access"
      OPENVPN_USER: "${OPENVPN_USERNAME}"
      OPENVPN_PASSWORD: "${OPENVPN_PASSWORD}"
      SERVER_REGIONS: "${OPENVPN_SERVER_REGIONS}"
      # port forwarding for private internet access -
      # config would be different for different VPN providers
      PRIVATE_INTERNET_ACCESS_VPN_PORT_FORWARDING: "on"
      PRIVATE_INTERNET_ACCESS_VPN_PORT_FORWARDING_STATUS_FILE: "/gluetun/forwarded_port"
    ports:
      # ports for transmission
      - 9091:9091
      # ports for soulseek/slskd
      - 5030:5030
    restart: unless-stopped

  transmission:
    image: linuxserver/transmission:latest
    network_mode: "service:gluetun"
    healthcheck:
      test: ping -c1 1.1.1.1 || exit 1
      start_period: 60s
      interval: 10s
      timeout: 10s
      retries: 5
    labels:
      autoheal: "true"
    volumes:
      - ./volumes/transmission/config:/config
      - ./volumes/transmission/watch:/watch
      - ./volumes/gluetun:/gluetun:ro # used to read forwarded_port
      - ./share:/downloads
    environment:
      PUID: '${GB_USER_UID}'
      PGID: '${GB_USER_GID}'
      USER: "${TRANSMISSION_USERNAME}"
      PASS: "${TRANSMISSION_PASSWORD}"
      FILE__PEERPORT: "/gluetun/forwarded_port" # set port forward from file
    restart: unless-stopped

  slskd:
    image: slskd/slskd
    user: "${GB_USER_UID}:${GB_USER_GID}"
    network_mode: "service:gluetun"
    healthcheck:
      test: bash -c 'cat < /dev/null > /dev/tcp/1.1.1.1/53' || exit 1
      start_period: 60s
      interval: 10s
      timeout: 10s
      retries: 5
    labels:
      autoheal: "true"
    environment:
      SLSKD_REMOTE_CONFIGURATION: "true"
      SLSKD_SHARED_DIR: "/share"
      SLSKD_SLSK_USERNAME: "${SOULSEEK_USERNAME}"
      SLSKD_SLSK_PASSWORD: "${SOULSEEK_PASSWORD}"
      SLSKD_USERNAME: "${SLSKD_USERNAME}"
      SLSKD_PASSWORD: "${SLSKD_PASSWORD}"
    volumes:
      - ./volumes/slskd:/app
      - ./share/music:/share
    restart: unless-stopped

  autoheal:
    image: willfarrell/autoheal:1.2.0
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # ARE YA FEELIN IT MR KRABS?
    restart: unless-stopped
