<!DOCTYPE html>
<head>
    <title>ghettobox</title>
    <link rel="stylesheet" href="res/style/bulma.min.css">
    <link rel="stylesheet" href="res/style/ghettobox.css">
</head>
<body>
    <img id="logo" src="{{logo}}">
    <div id="main" class="columns">
        {%- for column in columns %}
        <div class="column">
            <h1 class="title">{{column['title']}}</h1>
            {%- for item in column['items'] %}
            <div class="box">
                <a href="{{item['link']}}">
                    <table>
                        <tr>
                            <td>
                                <img class="image is-64x64 box-logo" src="{{item['icon']}}">
                            </td>
                            <td class="box-td">
                                <h2 class="title is-4 box-title">{{item['name']}}</h2>
                                {{item['description']}}
                            </td>
                        </tr>
                    </table>
                </a>
            </div>
            {%- endfor %}
        </div>
        {%- endfor %}
    </div>
</body>
</html>
