compose:
  restic-backup:
    image: mazzolino/restic
    environment:
      BACKUP_CRON: "0 0 3 * * *"
      RESTIC_PASSWORD: ghettobox
      RESTIC_REPOSITORY: /mnt/restic
      RESTIC_BACKUP_SOURCES: /data
      RESTIC_BACKUP_ARGS: >-
        --tag docker-volumes
        --verbose
      RESTIC_FORGET_ARGS: "--keep-last 10"
      TZ: America/Denver
    volumes:
      - "{{ restic_backup_src }}:/data:ro"
      - "{{ restic_backup_path }}:/mnt/restic"

  restic-prune:
    image: mazzolino/restic
    environment:
      RUN_ON_STARTUP: "true"
      PRUNE_CRON: "0 30 3 * * *"
      RESTIC_REPOSITORY: /mnt/restic
      RESTIC_PASSWORD: ghettobox
      TZ: America/Denver

tasks:
  - name: Ensure restic_backup_path exists, and is owned by gb_user
    file:
      path: "{{ restic_backup_path }}"
      state: directory
      owner: "{{ gb_user }}"
