tasks:
  - name: Get UID of our user
    command: "id -u"
    register: user_uid

  - name: Get GID of our user
    command: "id -u"
    register: user_gid

  - set_fact:
      gb_user_uid: "{{ user_uid.stdout }}"

  - set_fact:
      gb_user_gid: "{{ user_gid.stdout }}"

  - name: Ensure we have a directory for ghettobox service data on the host
    file:
      path: ghettobox/data
      state: directory
