*.ghettobox.xyz {
	# define matcher for all IPs not associated
	# with private address ranges like 192.168.0.0/16
	@public not remote_ip private_ranges

	# use token/email address to integrate with cloudflare for
	# automatic SSL/TLS via letsencrypt
	tls {$CLOUDFLARE_EMAIL} {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
	}

	# containerized navidrome service
	@music host music.ghettobox.xyz
	handle @music {
		reverse_proxy localhost:4533
	}

	# containerized filebrowser service
	@drive host drive.ghettobox.xyz
	handle @drive {
		abort @public
		reverse_proxy localhost:8080
	}

	# containerized transmission service
	@torrent host torrent.ghettobox.xyz
	handle @torrent {
		abort @public
		reverse_proxy localhost:9091
	}
}
