*.{$GB_DOMAIN} {
	# define matcher for all IPs not associated
	# with private address ranges like 192.168.0.0/16
	@public not remote_ip private_ranges

	# use token/email address to integrate with cloudflare for
	# automatic SSL/TLS via letsencrypt
	tls {$CLOUDFLARE_EMAIL} {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
	}

	# containerized navidrome service
	@music host music.{$GB_DOMAIN}
	handle @music {
		reverse_proxy localhost:4533
	}

	# containerized jellyfin service
	@media host media.{$GB_DOMAIN}
	handle @media {
		reverse_proxy localhost:8096
	}

	# containerized kavita service
	@comics host comics.{$GB_DOMAIN}
	handle @comics {
		reverse_proxy localhost:5000
	}

	# containerized soulseek service (slskd)
	@soulseek host soulseek.{$GB_DOMAIN}
	handle @soulseek {
		abort @public
		reverse_proxy localhost:5030
	}

	# containerized filebrowser service
	@drive host drive.{$GB_DOMAIN}
	handle @drive {
		abort @public
		reverse_proxy localhost:8080
	}

	# containerized transmission service
	@torrent host torrent.{$GB_DOMAIN}
	handle @torrent {
		abort @public
		reverse_proxy localhost:9091
	}
}
