*.{$GB_DOMAIN} {
	# define matcher for all IPs not associated
	# with private address ranges like 192.168.0.0/16
	@public not remote_ip private_ranges

	# use token/email address to integrate with cloudflare for
	# automatic SSL/TLS via letsencrypt
	tls {$CLOUDFLARE_EMAIL} {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
	}

	# containerized navidrome service
	@music host music.{$GB_DOMAIN}
	handle @music {
		reverse_proxy localhost:4533
	}

	# containerized baikal service
	@calendar host calendar.{$GB_DOMAIN}
	handle @calendar {
		# drop public IPs trying to access the admin page
		handle /admin/* {
			abort @public
		}
		reverse_proxy localhost:5232
	}

	# containerized filebrowser service
	@drive host drive.{$GB_DOMAIN}
	handle @drive {
		abort @public
		reverse_proxy localhost:8080
	}

	# containerized transmission service
	@torrent host torrent.{$GB_DOMAIN}
	handle @torrent {
		abort @public
		reverse_proxy localhost:9091
	}
}
